<main>
    

    

    <div class="navButtons">
        <span class="navBut"><button *ngIf="currentChar?.id !== 0" (click)="navBack()">
            <img src = "../../../assets/chev-left.svg" alt="help"/>
        </button></span>
        <p>Game #{{currentChar?.id! + 1}}</p>
        <span class="navBut"><button *ngIf="currentChar?.id !== chars[chars.length-1].id" (click)="navForward()">
            <img src = "../../../assets/chev-right.svg" alt="help"/>
        </button></span>
    </div>
    <app-gallery [currentChar]="currentChar"></app-gallery>
    



    <p>Answer: {{currentChar?.name}}</p>
</main>



