<div *ngIf="currentChar"  class="imageBox">
    <p *ngIf="imageIndex! >= 1" class="hint">Hint: {{currentChar.hints[imageIndex!-1]}}</p>
    <img  src="{{currentChar.imageLinks[imageIndex != undefined ? imageIndex : 0]}}"/>
</div>
<div  class="imageButtons">
    <button 
        (click)="changeImage(number)" 
        *ngFor="let number of [1, 2, 3, 4, 5, 6]" 
        [disabled]="gameProgress!.guesses+1 < number" 
        [class.disabled] = "gameProgress!.guesses+1 < number"
        [class.selected] = "imageIndex! + 1 == number">
            {{number}}
    </button>
    <button 
        id="skipButton" 
        [class.disabled]="gameProgress!.guesses == 6" 
        [disabled]="gameProgress!.guesses == 6" 
        (click)="skip()">
            <img src = "../../../assets/skip.svg" alt="help"/>Skip
    </button>
</div>

