@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* You can add global styles to this file, and also import other style files */
:root {
    --blue: #0f1729;
    --blue2: #17233e;
    --blue3: #213158;
    --red: #5e1a1f;
    --red2: #772127;
    --white: #aaadad;
    --white2: #e3eceb;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--blue);
}